:root {
  --rojo-leno: #cd060d;
  --rojo-oscuro: #960f1a;
  --blanco: whitesmoke;
  --bg-gris: #171819;
  --naranja: #ef8e3d;
  --text-color: #171427;
}

* {
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Staatliches", "Anton", "Inconsolata";
}

body {
  background-color: rgb(249, 249, 245);
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::selection {
  background: var(--rojo-leno);
  color: var(--blanco);
}

/* HEADER */
.container {
  margin: auto;
  width: 90%;
}
section {
  padding: 4rem 0 3rem;
}
/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--rojo-oscuro);
  box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
  z-index: 10;
}
.headerSections {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.headerSections a {
  margin-right: 50px;
  color: var(--blanco);
  text-decoration: none;
  font-family: "Staatliches";
  font-weight: 600;
}
.headerSections a:hover {
  transform: scale(1.1, 1.1);
  color: rgb(238, 237, 228);
  transition: 0.3s;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
 width: 210px;
 margin-top: 1rem;
 margin-bottom: 1rem;
}

#cart-icon {
  font-size: 2.2rem;
  cursor: pointer;
  color: var(--blanco);
}
#cart-icon:hover {
  transform: scale(1.2, 1.2);
  color: rgb(241, 241, 210);
  transition: 0.3s;
}
/* cart */
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  padding: 20px;
  background-color: var(--blanco);
  box-shadow: -2px 0 4% hsl(0 4% 15% / 10%);
  transition: 0.5s ease;
  overflow-x: hidden;
  overflow-y: scroll;
}
.cart.active {
  right: 0;
}
.cart-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
}
.cart-box {
  display: grid;
  grid-template-columns: 37% 45% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-img {
  object-fit: contain;
  padding: 10px;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}
.cart-product-title {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: black;
}
.cart-price {
  font-weight: 500;
  font-size: 1.3rem;
}
.cart-quantity {
  border: 1px solid var(--text-color);
  outline-color: var(--rojo-oscuro);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}
.cart-remove {
  font-size: 24px;
  color: var(--rojo-oscuro);
  cursor: pointer;
}
.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid var(--text-color);
}
.total-title {
  font-size: 1.4rem;
  font-weight: 600;
}
.total-price {
  margin-left: 0.5rem;
  font-size: 1.4rem;
}
.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background-color: var(--rojo-oscuro);
  color: var(--blanco);
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}
.btn-buy:hover {
  background-color: var(--text-color);
}
#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--text-color);
}

/* HAMBURGUESA */
.container .burger-btn {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--blanco);
}
.container .cross-btn {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--blanco);
}
/* rgb(251, 251, 239); */
.burger-menu {
  margin-top: 9.65rem;
  text-align: center;
  font-size: 2em;
  line-height: 4.5rem;
  background-color: #ffe1c8;
  padding: 10px 0;
  top: -100%;
  z-index: 8;
  position: fixed;
  width: 100%;
  transition: 0.7s ease-out;
}
.burger-menu a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4em;
  font-weight: 600;
}


.burger-menu a:hover {
  font-size: 3.2rem;
  color: black;
}

/* FORMULARIO */

.container-form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  margin-top: 8rem;
}

.container h2 {
  font-size: 1.5em;
}

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
  background: url("/assets/Galeria/8.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.right {
  padding: 25px 40px;
}

h2 {
  font-size: 2rem;
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: var(--naranja);
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.28);
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 200px;
  min-width: 345px;
  max-width: 550px;
}

.send {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--rojo-oscuro);
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 15px;
}

.send:hover {
  background-color: #730d15;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

#file {
  display: none;
}

.contact-box label {
  text-align: center;
  color: whitesmoke;
  height: 60px;
  width: 100%;
  background-color: var(--naranja);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.contact-box label:hover {
  background-color: #df7e2f;
}

.contact-box label i {
  color: var(--rojo-oscuro);
}

/* FOOTER */

footer {
  transition: 0.5s;
  font-family: "Segoe UI";
  position: relative;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: var(--rojo-oscuro);
}

.copyright-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright {
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  padding: 10px 0;
}

.footer-menus {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
}

.footer-container {
  height: fit-content;
  width: 100%;
  padding: 1.3rem 6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

footer .website-logo {
  width: 150px;
}

.footer-info,
.menu-item-footer {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  transition: 0.5s;
  font-size: 1.3rem;
}

.menu-item-footer:hover {
  opacity: 1;
}

.menu-title {
  font-size: 1.65rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
}

a.social-link {
  height: 100%;
  width: 30px;
  background-size: 70%;
  margin-right: 1rem;
  font-size: 1.6em;
  color: var(--blanco);
}

.social-link:hover {
  opacity: 0.7;
}

/* FORMULARIO RESPONSIVE */
@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 300px;
  }
}

/* HEADER RSPV */
@media screen and (max-width: 1000px) {
  .nav {
    padding: 11px;
  }

  .logo {
    font: 1rem;
  }
  .cart {
    width: 320px;
  }
  .headerSections a {
    display: none;
  }
  .container .burger-btn {
    display: block;
  }
  .burger-menu.active {
    top: 0;
    transition: 0.4s ease-out;
  }
  .container .burger-btn.hide {
    display: none;
  }

  #cross-icon.active {
    display: block;
  }
  .container-form {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 360px) {
  .cart {
    width: 280px;
  }
}

@media screen and (max-width: 768px) {
  /* FOOTER RESPONSIVE */
  .footer-container {
    padding: 2rem;
    flex-direction: column;
  }

  .footer-content-container {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    align-items: center;
  }

  .footer-content-container:nth-of-type(1) {
    align-items: flex-start;
  }
  .footer-content-container:nth-of-type(3) {
    border-bottom: none;
    padding-bottom: 0;
  }

  .footer-menus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .footer-menus .footer-content-container:nth-of-type(1) {
    width: 45%;
    align-items: flex-start;
    border-bottom: none;
  }
  .footer-menus .footer-content-container:nth-of-type(2) {
    width: 45%;
    align-items: flex-start;
    border-bottom: none;
  }
}

@media screen and (min-width: 900px) {
  /* FOOTER RESPONSIVE */
  footer .copy {
    font-size: 1em;
  }
  footer {
    padding-top: 40px;
  }
  footer i {
    font-size: 1.6em;
  }

 
}
