:root {
  --text-color: #171427;
  --rojo-leno: #cd060d;
  --rojo-oscuro: #960f1a;
  --blanco: whitesmoke;
  --naranja: #ef8e3d;
  --hover-claro:rgb(248, 248, 215);;

}

* {
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Staatliches", "Anton", "Inconsolata";
}
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::selection {
  background: var(--rojo-leno); /*Color naranja para el fondo*/
  color: var(--blanco);
}

body {
  background-color: rgb(249, 249, 245);
}
img {
  width: 100%;
}

.container {
  margin: auto;
  width: 90%;
}
section {
  padding: 4rem 0 3rem;
}
/* HEADER */



/* SUBTITULO */
.subtitle {
  font-size: 2rem;
  text-align: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.subtitle p {
  font-size: 1.5rem;
  font-family: Inconsolata;
}

/* BANNER */
.banner {
  margin-top: 8.25rem;
 /*  background-color:#960f1a; */
}
.bannerMobile{
  display:none;
}
.section-subtitle {
  background-color: var(--rojo-oscuro);
  color: var(--blanco);
}
/* FILTRO */
.filter{
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
  flex-wrap: wrap;
  
  margin-top: 4rem;
}
.filter h3{
  cursor: pointer;
  font-size: 2.4rem;
}
.filter-btn{
  margin: 0 0.5rem;
}
.filter .fa-circle{
  color: #5a2c1c;
}
.filter .fa-leaf{
  color: rgb(123, 208, 38);
}


.filter-btn{
  text-align: center;
}
.filter-btn:hover{
  transform: scale(1.05,1.05);
  border-bottom: 10px double var(--rojo-oscuro);
  transition: 0.3s;
}


#simples.hidden{
  display: none;
}
#dobles.hidden{
  display: none;
}
#triples.hidden{
  display: none;
}
#veggies.hidden{
  display: none;
}

#paty-simples.hidden{
  display:none;
}
#paty-dobles.hidden{
  display:none;
}
#paty-triples.hidden{
  display:none;
}
#paty-veggies.hidden{
  display: none;
}


/* Shop content */

.paty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-size: 2.2rem;
  padding-bottom: 11px;
}
.paty i {
  font-size: 1.5em;
  color: #5a2c1c;
  margin-left: 5px;
}
.veggie i{
  color: rgb(123, 208, 38);
  margin-left: 10px;
}

#shop {
  padding-top: 1.3rem;
}
.shop-content {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  
}

.product-box {
  width: 300px;
  padding-bottom: 8px;
  padding-left: 7px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  position: relative;
  margin-right:35px ;
  margin-left: 35px;
  
}
.product-box:hover {
  padding: 10px;
  border-bottom: 5px solid var(--rojo-oscuro);
  border-right: 5px solid var(--rojo-oscuro);
  background-color: rgb(248, 248, 215);
  transition: 0.3s;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
}

.product-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.product-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.product-description {
  font-family: "Inconsolata";
  font-size: 1.4rem;
}
.price {
  font-weight: 500;
  font-size: 1.6rem;
}

.add-cart {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--naranja);
  color: black;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 1.5rem;
}

.add-cart:hover {
  background-color: var(--rojo-oscuro);
  color: var(--blanco);
  transition: 0.3s;
}



/* BANNER DESPLAZABLE */
.containerBanner {
  position: relative;
  margin-top: 3%;
}

.control {
  list-style: none;
}
.control li {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background: rgba(0, 0, 0, 0.3);
  padding: 12px 20px;
  border-radius: 50%;
  cursor: pointer;
}
.control li:hover {
  background: #000;
}
.control li.prev {
  left: 15px;
}
.control li.next {
  right: 15px;
}
.tns-nav {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.tns-nav button {
  height: 18px;
  width: 18px;
  background-color: #a5a5a5;
  border: none;
  margin-left: 7px;
  border-radius: 50%;
}
.tns-nav .tns-nav-active {
  background-color: black;
}

@media screen and (max-width: 1200px) {
  .shop-content{
    width: 100%;
  }
  .filter i{
    display: none;
  }
  .banner {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 1000px) {
  .bannerDesktop{
    display: none;
  }
  .bannerMobile{
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .product-description {
    font-size: 1.2rem;
  }
  .filter h3{
    font-size: 2.1rem;
  }
  .banner{
    margin-top: 9.2rem;
  }
}
@media screen and (max-width: 370px) {
  .banner{
    margin-top: 7.75rem;
  }
}


