:root {
  --text-color: #171427;
  --rojo-leno: #cd060d;
  --rojo-oscuro: #960f1a;
  --blanco: whitesmoke;
  --naranja: #ef8e3d;
  --hover-claro:rgb(255, 255, 235);

}

* {
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Staatliches", "Anton", "Inconsolata";
}
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::selection {
  background: var(--rojo-leno); /*Color naranja para el fondo*/
  color: var(--blanco);
}

body {
  background-color: rgb(249, 249, 245);
}
img {
  width: 100%;
}

.container {
  margin: auto;
  width: 90%;
}
section {
  padding: 4rem 0 3rem;
}
/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--rojo-oscuro);
  box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
  z-index: 10;
}
.headerSections {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.headerSections a {
  margin-right: 50px;
  color: var(--blanco);
  text-decoration: none;
  font-family: "Staatliches";
  font-weight: 600;
}
.headerSections a:hover {
  transform: scale(1.1, 1.1);
  color: var(--hover-claro);
  transition: 0.3s;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 210px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#cart-icon {
  font-size: 2.2rem;
  cursor: pointer;
  color: var(--blanco);
}
#cart-icon:hover {
  transform: scale(1.2, 1.2);
  color: var(--hover-claro);
  transition: 0.3s;
}
#contador{
  position:absolute;
  margin-left: 5px;
  font-size: 1.8rem;
}
/* cart */
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  padding: 20px;
  background-color: var(--blanco);
  box-shadow: -2px 0 4% hsl(0 4% 15% / 10%);
  transition: 1.2s ease;
  overflow-x: hidden;
  overflow-y: scroll;
}
.cart.active {
  right: 0;
  transition: 0.5s ease;
}
.cart-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
}
.cart-box {
  display: grid;
  grid-template-columns: 37% 45% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-img {
  object-fit: contain;
  padding: 10px;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}
.cart-product-title {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: black;
}
.cart-price {
  font-weight: 500;
  font-size: 1.3rem;
}
.cart-quantity {
  border: 1px solid var(--text-color);
  outline-color: var(--rojo-oscuro);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}
.cart-remove {
  font-size: 24px;
  color: var(--rojo-oscuro);
  cursor: pointer;
}
.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid var(--text-color);
}
.total-title {
  font-size: 1.4rem;
  font-weight: 600;
}
.total-price {
  margin-left: 0.5rem;
  font-size: 1.4rem;
}
.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background-color: var(--rojo-oscuro);
  color: var(--blanco);
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}
.btn-buy:hover {
  background-color: var(--text-color);
  transition: 0.3s;
}
#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--text-color);
}

/* SUBTITULO */
.subtitle {
  font-size: 2rem;
  text-align: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.subtitle p {
  font-size: 1.5rem;
  font-family: Inconsolata;
}

/* BANNER */
.banner {
  margin-top: 8.25rem;
}
.section-subtitle {
  background-color: var(--rojo-oscuro);
  color: var(--blanco);
}
/* FILTRO */
.filter{
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
  flex-wrap: wrap;
}
.filter h3{
  cursor: pointer;
  font-size: 2.4rem;
 
}
.filter .fa-circle{
  color: #5a2c1c;
}
.filter .fa-leaf{
  color: rgb(123, 208, 38);
}


.filter-btn{
  text-align: center;
}
.filter-btn:hover{
  transform: scale(1.05,1.05);
  border-bottom: 10px double var(--rojo-oscuro);
  transition: 0.3s;
}


#simples.hidden{
  display: none;
}
#dobles.hidden{
  display: none;
}
#triples.hidden{
  display: none;
}
#veggies.hidden{
  display: none;
}

#paty-simples.hidden{
  display:none;
}
#paty-dobles.hidden{
  display:none;
}
#paty-triples.hidden{
  display:none;
}
#paty-veggies.hidden{
  display: none;
}


/* Shop content */

.paty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-size: 2.2rem;
  padding-bottom: 11px;
}
.paty i {
  font-size: 1.5em;
  color: #5a2c1c;
  margin-left: 5px;
}
.veggie i{
  color: rgb(123, 208, 38);
  margin-left: 10px;
}

#shop {
  padding-top: 1.3rem;
}
.shop-content {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  
}

.product-box {
  width: 300px;
  padding-bottom: 8px;
  padding-left: 7px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  position: relative;
  margin-right:35px ;
  margin-left: 35px;
  
}
.product-box:hover {
  padding: 10px;
  border-bottom: 5px solid var(--rojo-oscuro);
  border-right: 5px solid var(--rojo-oscuro);
  background-color: rgb(255, 255, 235);
  transition: 0.3s;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
}

.product-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.product-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.product-description {
  font-family: "Inconsolata";
  font-size: 1.4rem;
}
.price {
  font-weight: 500;
  font-size: 1.6rem;
}

.add-cart {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--naranja);
  color: black;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 1.5rem;
}

.add-cart:hover {
  background-color: var(--rojo-oscuro);
  color: var(--blanco);
  transition: 0.3s;
}

/* MENU HAMBURGUESA */

.container .burger-btn {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--blanco);
}
.container .cross-btn {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--blanco);
}
/* rgb(251, 251, 239); */
.burger-menu {
  margin-top: 9.65rem;
  text-align: center;
  font-size: 2em;
  line-height: 4.5rem;
  background-color: #ffe1c8;
  padding: 10px 0;
  top: -100%;
  z-index: 8;
  position: fixed;
  width: 100%;
  transition: 0.7s ease-out;
}
.burger-menu a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4em;
  font-weight: 600;
}


.burger-menu a:hover {
  font-size: 3.3rem;
  color: black;
  transition: 0.3s;
}

/* FOOTER */
footer {
  transition: 0.5s;
  font-family: "Segoe UI";
  position: relative;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: var(--rojo-oscuro);
}

.copyright-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright {
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  padding: 10px 0;
}

.footer-menus {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
}

.footer-container {
  height: fit-content;
  width: 100%;
  padding: 1.3rem 6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

footer .website-logo {
  width: 150px;
}

.footer-info,
.menu-item-footer {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  transition: 0.5s;
  font-size: 1.3rem;
}

.menu-item-footer:hover {
  opacity: 1;
  transition: 0.3s;
}

.menu-title {
  font-size: 1.65rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
}

.social-link {
  height: 100%;
  width: 30px;
  background-size: 70%;
  margin-right: 1rem;
  color: var(--blanco);
  font-size: 2.5rem;
}

.social-link:hover {
  opacity: 0.7;
  transition: 0.3s;
}

/* BANNER DESPLAZABLE */
.slider {
  width: 100%;
  overflow: hidden;
  margin-top: 60px;
  margin-bottom: 20px;
}
.slider ul {
  display: flex;
  animation: cambio 15s infinite alternate linear;
  width: 400%;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 1200px) {
  .nav {
    padding: 11px;
  }
  .banner {
    margin-top: 9.65rem;
  }
  .logo {
    font: 1rem;
  }
  .cart {
    width: 320px;
  }
  .headerSections a {
    display: none;
  }
  .container .burger-btn {
    display: block;
  }
  .burger-menu.active {
    top: 0;
    transition: 0.4s ease-out;
  }
  .container .burger-btn.hide {
    display: none;
  }

  #cross-icon.active {
    display: block;
  }
}

@media (max-width: 1080px) {
  .nav {
    padding: 15px;
  }
  .banner {
    margin-top: 9.65rem;
  }
  section {
    padding: 3rem 0 2rem;
  }
  .container {
    margin: 0 auto;
    width: 90%;
    height: auto;
  }
}


@media screen and (max-width: 968px) {
  .shop-content{
    width: 100%;
  }
  .filter i{
    display: none;
  }

  
}

@media screen and (max-width: 768px) {
  .product-description {
    font-size: 1.2rem;
  }
  .footer-container {
    padding: 2rem;
    flex-direction: column;
  }
  .footer-content-container {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    align-items: center;
  }
  .footer-content-container:nth-of-type(1) {
    align-items: flex-start;
  }
  .footer-content-container:nth-of-type(3) {
    border-bottom: none;
    padding-bottom: 0;
  }
  .footer-menus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .footer-menus .footer-content-container:nth-of-type(1) {
    width: 45%;
    align-items: flex-start;
    border-bottom: none;
  }
  .footer-menus .footer-content-container:nth-of-type(2) {
    width: 45%;
    align-items: flex-start;
    border-bottom: none;
  }
  .description .fa-solid {
    display: none;
  }
  .filter h3{
    font-size: 2.1rem;
  }
  .logo{
    width: 180px  ;
  }
  .burger-menu{
    margin-top: 9.2rem;
  }

}


@media screen and (max-width: 360px) {
  .cart {
    width: 280px;
  }
  .logo{
    width: 130px;
  }
  .filter h3{
    font-size: 1.9rem;
  }
  .burger-menu{
    margin-top: 7.8rem;
  }
  .burger-menu a{
    font-size: 2.4rem;
  }
  .burger-menu a:hover{
    font-size: 2.8rem;
  }
 
}



@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

