:root {
  --rojo-leno: #cd060d;
  --rojo-oscuro: #960f1a;
  --blanco: whitesmoke;
  --bg-gris: #171819;
  --naranja: #ef8e3d;
  --text-color: #171427;
}

* {
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Staatliches", "Anton", "Inconsolata";
}

body {
  background-color: rgb(249, 249, 245);
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::selection {
  background: var(--rojo-leno); 
  color: var(--blanco);
}

/* HEADER */
.container {
  margin: auto;
  width: 90%;
}
section {
  padding: 4rem 0 3rem;
}

/* BANNER DESPLAZABLE */
.slider {
  margin-top: 8.2rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;

}
.slider ul {
  display: flex;
  animation: cambio 15s infinite alternate linear;
  width: 400%;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
  height: 100%;
}

/* SUBTITULO */
.subtitle {
  text-align: center;
  font-family: "Anton";
  font-size: 4rem;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* CONTAINER IMAGENES */

img {
  width: 100%;
}

.row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 5px;
}

.column img {
  margin-top: 5px;
}



@media screen and (max-width: 1040px) {
  /* CONTENEDOR DE IMAGENES RESPONSIVE */
  .column {
    flex: 33%;
  }
}

@media screen and (max-width: 800px) {
  /* CONTENEDOR DE IMAGENES RESPONSIVE */
  .column {
    flex: 50%;
  }
}
@media screen and (max-width: 600px) {
  /* CONTENEDOR DE IMAGENES RESPONSIVE */
  .column {
    flex: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .slider{
    margin-top: 9.6rem;
  }
  .nav {
    padding: 11px;
  }

  .logo {
    font: 1rem;
  }
  .cart {
    width: 320px;
  }
  .headerSections a {
    display: none;
  }
  .container .burger-btn {
    display: block;
  }
  .burger-menu.active {
    top: 0;
    transition: 0.4s ease-out;
  }
  .container .burger-btn.hide {
    display: none;
  }

  #cross-icon.active {
    display: block;
  }
  .container-form {
    margin-top: 10rem;
  }
}



/*BANNER DESPLAZABLE ANIMACION */
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

